<h2>Account Activation</h2>
<%= simple_form_for(resource, as: resource_name, url: update_employee_confirmation_path, html: { :method => 'patch' },:id => 'activation-form') do |f| %>
  <%= devise_error_messages! %>
  <%= f.error_notification %>
  <!%= resource.inspect%>
  <fieldset>
    <legend>Account Activation<% if resource.try(:user_name) %> for <%= resource.user_name %><% end %></legend>

  <% if @requires_password %>
  <div class="form-group">
      <p><%= f.label :password,'Choose a Password:' %> <%= f.password_field :password, required: true, class:"form-control" %></p>
  </div>
  <div class="form-group">  
      <p><%= f.label :password_confirmation,'Password Confirmation:' %> <%= f.password_field :password_confirmation, required: true, class: "form-control" %></p>
  </div>
  <% end %>

  <%= hidden_field_tag :confirmation_token,@confirmation_token %>
  <p><%= f.submit "Activate" %></p>
  </fieldset>
<% end %>