
<div class="col-md-12">
	<div class="col-md-2">
	<strong>Status</strong>
	</div>
	<div class="col-md-2">
	<strong>Comment</strong>
	</div>
	<div class="col-md-2">
	<strong>Resource</strong>
	</div>
	<div class="col-md-2">
	<strong>Employee</strong>
	</div>
	<div class="col-md-4">
	</div>
</div>
<hr>
<% @complaints.each do |complaint|%>
<div class="col-md-12">
	<div class="col-md-2">
	<%=status_normalization(complaint.status)%>
	</div>
	<div class="col-md-2	">
	<%=complaint.comment%>
	</div>
	<div class="col-md-2">
	<%=	@company.resources.find(complaint.resource_id).name%>
	</div>
	<div class="col-md-2">
	<%= @company.employees.find(complaint.employee_id).name%>
	</div>
	<% if complaint.employee_id == current_employee.id %>
			<div class="col-md-1">
				<%= button_to "Delete", [complaint],method: "delete",:class =>"btn btn-danger", data: {confirm: "Are you sure?"}  %>
			</div>	
			<% if complaint.status == 0 %>
				<div class="col-md-1">
				<%= button_to "Edit",[:edit, complaint],:class =>"btn btn-info", :method => "get" %>
				</div>
			<% else %>
				<div class="col-md-1">
			
				</div>
			<% end %>	
	<% else %>
			<div class="col-md-6">
			
			</div>

	<% end %>
</div>
<% end %>
</body>	