<%= form_for ['admin', @employee] do | f |%>
<div class="row">
<div class="col-md-6 col-md-offset-3">
		<%=f.label :Name%>
		<%=f.text_field :name , class: "form-control", required: true%>
		<%=f.label :Email%>
		<div class="input-group">
  			<%=f.text_field :email , class: "form-control",required: true%>
  			<span class="input-group-addon" id="basic-addon2"><%= company_domain %></span>
		</div>
		<br>
		<div class="col-md-6">
			<%=f.label :Age%>
			<%=f.text_field :age , class: "form-control",required: true%>	
		</div>
		<div class="col-md-6">
			<%=f.label :RoleId%>
			<%=f.text_field :role_id , class: "form-control",required: true%>
		</div>		
		<%=f.label :Manager%>
		<%=f.text_field :manager_id , class: "form-control",required: true%>
		<%=f.label "Date Of Joining" %>
		<%=f.date_field :date_of_joining , class: "form-control",required: true%>
		
		<%= f.submit 'Save Employee', class: "btn btn-primary btn-default"%>
		</div>
		</div>
<% end %>
