you are admin
<br>
<ul>
	<li><%= link_to "View Resources", resources_path %></li>
	<li><%= link_to 'Add New Resource',new_resource_path%></li>
</ul>

<br>

<ul>
	<li><%= link_to "View Bookings", bookings_path %></li>
</ul>
<br>
<ul>
<li>
<%= link_to 'Add New Employee',new_admin_employee_path%></li>
</ul>
<br>


<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    text-align: center;
}
</style>
</head>
<body>
<b>Employees</b>
<table cellpadding="10"><tr>
<td><strong>Name</strong></td>
<td><strong>Email</strong></td>
<td><strong>Date of Joining</strong></td>
<td><strong>Role Id</strong></td>
<td><strong>Manager Id</strong></td>
<td><strong>Edit Link</strong></td>
</tr>

<% @employees.each do |employee|%>
<tr>
<td><%=employee.name%></td>
<td><%=employee.email%></td>
<td><%=employee.date_of_joining%></td>
<td><%=employee.role_id%></td>
<td><%=employee.manager_id%></td>
<td><%= link_to 'edit details', edit_admin_employee_path(employee) %></td>
</tr>
<% end %>
</table>
</body>
