you are admin
<br>
<ul>
	<li><%= link_to "View Resources", admin_resources_path %></li>
	<li><%= link_to 'Add New Resource',new_admin_resource_path%></li>
</ul>

<br>

<ul>
	<li><%= link_to "View Bookings", bookings_path %></li>
</ul>
<br>
<ul>
<li>
<%= link_to 'Add New Employee',new_admin_employee_path%></li>
</ul>
<br>

<b>Pending Bookings</b>
<div class="col-md-14">
	<div class="col-md-2">
	<strong>Duration</strong>
	</div>
	<div class="col-md-1">
	<strong>Status</strong>
	</div>
	<div class="col-md-1">
	<strong>Priority</strong>
	</div>
	<div class="col-md-2">
	<strong>Feedback</strong>
	</div>
	<div class="col-md-2">
	<strong>Comment</strong>
	</div>
	<div class="col-md-2">
 	<strong>Shift</strong>
 	</div>
 	<div class="col-md-2">
	<strong>Employee_id</strong>
	</div>
</div>
<div class="col-md-14">
	
<% @bookings.each do |booking|%>
	<div class="col-md-2">
	<%=booking.duration%>
	</div>
	<div class="col-md-1">
	<%=status_normalization(booking.status)%>
	</div>
	<div class="col-md-1">
	<%=priority_normalization(booking.priority)%>
	</div>
	<div class="col-md-2	">
	<%=booking.feedback%>
	</div>
	<div class="col-md-2">
	<%=booking.comment%>
	</div>
	<div class="col-md-2">
	<%=booking.shift%>
	</div>
	<div class="col-md-2">
	<%=booking.employee_id%>
	</div>
</div>
<% end %>


<br>
<br>
<br>
<b>Employees</b>
<div class="col-md-14">
	<div class="col-md-2">
	<strong>Name</strong>
	</div>
	<div class="col-md-2">
	<strong>Email</strong>
	</div>
	<div class="col-md-2">
	<strong>Date of Joining</strong>
	</div>
	<div class="col-md-2">
	<strong>Role Id</strong>
	</div>
	<div class="col-md-2">
	<strong>Manager Id</strong>
	</div>
	<div class="col-md-2">
	<strong>Edit Link</strong>
	</div>
</div>
<div class="col-md-14">
<% @employees.each do |employee|%>
<div class="col-md-2">
	<%=employee.name%>
	</div>
	<div class="col-md-2">
<%=employee.email%>
</div>
<div class="col-md-2">
<%=employee.date_of_joining%>
</div>
<div class="col-md-2">
<%=employee.role_id%>
</div>
<div class="col-md-2">
<%=employee.manager_id%>
</div>
<div class="col-md-2">
<%= link_to 'edit details', edit_admin_employee_path(employee) %>
</div>
<% end %>
</div>


</body>
