<div class="row">
		<div class="col-md-12">
			<div class="col-md-4">
			<strong>Subject</strong>
			</div>
			<div class="col-md-2">
			<strong>Employee</strong>
			</div>
		 	<div class="col-md-2">
			<strong>Date</strong>
			</div>
			<div class="col-md-2">
			<strong>Resource</strong>
			</div>
			<div class="col-md-2">
			<strong>Status</strong>
			</div>
		</div>
</div>
<hr>
<div class="row">

	
		<div class="col-md-12">
			<% @bookings.each do |booking|%>
				<div class="row">
				<div class="col-md-4">
					<%=booking.comment%>
				</div>
				<div class="col-md-2">
					<%=booking.employee.name%>
				</div>
				<div class="col-md-2">
					<%=booking.date_of_booking.to_formatted_s(:long)%>
				</div>
				<div class="col-md-1">
					<%=booking.resource.name%>
				</div>
				<div class="col-md-1">
					<%=status_normalization(booking.status)%>
				</div>
				<div class="col-md-1">
					<%= link_to "Delete", [booking],method: "delete" %>
				</div>	
				<% if booking.status == 0 %>
					<div class="col-md-1">
						<%= link_to "Edit",[:edit, booking] %>
					</div>
				<% end %>		
				
			<% end %>
		</div>
	</div>
</div>