
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    text-align: left;
}
</style>
</head>
<body>
<table cellpadding="10"><tr>
<td><strong>Duration</strong></td>
<td><strong>Status</strong></td>
<td><strong>Priority</strong></td>
<td><strong>Feedback</strong></td>
<td><strong>Comment</strong></td>
<td><strong>Shift</strong></td>
<td><strong>Employee_id</strong></td>
</tr>

<% @bookings.each do |booking|%>
<tr>
<td><%=booking.duration%></td>
<td><%=booking.status%></td>
<td><%=booking.priority%></td>
<td><%=booking.feedback%></td>
<td><%=booking.comment%></td>
<td><%=booking.shift%></td>
<td><%=booking.employee_id%></td>
</tr>
<% end %>
</table>
</body>