<h2>Your booking is done.</h2>
<h4>Details</h4>

<div class="col-md-12">
	<div class="col-md-4">
		<%= @booking.comment %>
	</div>
	<div class="col-md-2">
		<%=@booking.date_of_booking %>
	</div>

	<div class="col-md-2">
<<<<<<< HEAD
=======
		<%= show_slot_time @booking.resource_id, @booking.slot %>
	</div>

	<div class="col-md-2">
>>>>>>> 0c7266ccf5d01206e38cdd218f44e3d715d10ecb
		<%= status_normalization(@booking.status) %>
	</div>
	<div class="col-md-2">
		<%= link_to "Re - Request", @booking, method: :delete, data: {confirm: "Your request will delete.You will have to re-request."} %>
	</div>	
</div>