<%= render "error" %>

<%= form_for ["admin",@resource] do | f |%>
<table>
	<tr>
		<td>
			<%=f.label :Name%></td>
		<td>
			<%=f.text_field :name %>
		</td>
	</tr>
	<tr></tr>
	<tr>
		<td>
			<%=f.label :Timeslot%></td>
		<td><%=f.time_field :time_slot %>
		</td>
	</tr>
	<tr></tr>
<tr>
	<td>
	<%= f.submit 'Save Resource',class: "btn btn-success" %>

	</td>
</tr>

</table>
<% end %>
