

<%= form_for @resource do | f |%>
<table>
	<tr>
		<td>
			<%=f.label :Name%></td>
		<td>
			<%=f.text_field :name %>
		</td>
	</tr>
	<tr></tr>
	<tr>
		<td>
			<%=f.label :Count%></td>
		<td><%=f.text_field :count %>
		</td>
	</tr>
	<tr></tr>
<tr>
	<td>
	<%= f.submit 'Save Resource'%>
	</td>
</tr>

</table>
<% end %>
