<!DOCTYPE html>
<html>
<head>

<%= stylesheet_link_tag 'application', media: 'all',
'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<%= render 'layouts/shim' %>

</head>
<body>

<%= render 'layouts/employeeheader'  %>
<div class="container">
<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
</div>
<div style="width: 100%; margin: 0 auto;">
	<div style="float: left;"><%= link_to "View Resources", admin_resources_path %></div>
	<div style="float: left;"><%= link_to 'Add New Resource',new_admin_resource_path%></div>
	<div style="float: left;"><%= link_to "View Bookings", bookings_path %></div>
</div>

<div style="width: 100%;">
	<div style="float: left;"><%= link_to "View Employees", admin_employees_path %></div>
	<div style="float: left;"><%= link_to 'Add New Employee',new_admin_employee_path%></div>
</div>
<div style="width: 100%;">
	<div style="float: left;"><%= link_to "View complaints", complaints_path %></div>
</div>
<br>
<%= yield %>
</body>
<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>

</html>
