<!DOCTYPE html>
<html>
<head>

<%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<%= render 'layouts/shim' %>
</head>
<body>

<% if employee_signed_in? %>
<% @company =current_employee.company %>
<% admin_role_id = @company.roles.find_by(designation: "admin").id %>
<%= (current_employee.role_id==admin_role_id )? (render 'layouts/adminheader') :( render   'layouts/employeeheader') %>
<% else %>
<%= render 'layouts/employeeheader' %>
<% end %>
<div class="container">
<% flash.each do |message_type, message| %>
<% if message.include?"[" %>
	<% message.split(",").each do |x| %>
		<div class="alert alert-<%= message_type %>"><%= x %></div>
	<% end %>
<% else %>
	<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<% end %>


<%= yield %>
</div>
</body>
<%= render 'layouts/footer' %>
<div align="center">
<br>
<br>
	<%= debug(params) if Rails.env.development? %>
	<% if employee_signed_in? %>
		<%= current_employee.inspect %>
	<% end %>	
</div>


</html>
